@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --dark-color: #0b0b0d;
  --light-color: #ffffff;
  --accent-color: #f4b661;
}

html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--light-color);
}

#main {
  padding: 0;
  margin: 0;
}

/*********
* Header *
*********/
#title-container {
  background-color: var(--dark-color);
  margin: 0 0 4rem 0;
  text-align: center;
  color: var(--light-color);
  padding: 0.1rem 0 2rem 0;
}

#title {
  margin: 1rem 0 .3rem 0;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.subheader {
  margin: 0 0 1rem 0;
  font-size: 2rem;
}

address p {
  font-size: 1.6rem;
  font-style: normal;
}

address a {
  color: white;
  font-style: normal;
  text-decoration: none;
}

address a:visited {
  color: rgb(191, 179, 179);
}

address a:hover {
  background-color: var(--accent-color);
  color: black;
}

#img-div {
  padding: 0;
  font-size: 1rem;
  margin: 0 0 5rem 0;
}

/**************
* Main Figure *
**************/
#image {
  margin: auto;
  display: block;
  object-fit: cover;
  max-width: 100%;
  border-style: solid;
  border-color: var(--dark-color);
}

#img-caption {
  font-size: 1.6rem;
  text-align: center;
  color: var(--dark-color);
  margin: .5rem 0;
  font-style: italic;
}

/***************
* Tribute Info *
***************/
#tribute-info {
  text-align: center;
  background-color: var(--light-color);
  width: 70%;
  margin: 2em auto;
  padding: 0;
  border-style: solid;
}

#list-title {
  font-size: 2rem;
  text-transform: uppercase;
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 1rem;
  margin: 0;
}

ul {
  font-size: 1.8rem;
  text-align: left;
  margin: 0.5rem auto 1rem auto;
  list-style: none;
  padding: 0.5rem;
}

li {
  background-color: var(--accent-color);
  margin: 1rem;
  color: black;
  padding: 1.2rem 1rem;
  border-radius: 5px;
}

/************
* Quotation *
************/
blockquote {
  background-color: var(--dark-color);
  color: white;
  text-align: center;
  padding: 1rem 1.5rem 2rem;
  margin: 5rem auto 5rem auto;
  width: 40%;
}

blockquote p {
  font-size: 1.8rem;
  margin: 0;
  padding: .5rem;
}

blockquote cite {
  font-size: 1.8rem;
  margin: 0;
  padding: .5rem;
}

/************
* Reference *
*************/
#reference-container h2 {
  margin: 1rem auto 2rem auto;
  text-align: center;
  width: 100%;
  font-size: 2.1rem;
}

#reference-container h2 a:hover {
  color: var(--accent-color);
}