@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --dark-color: #0b0b0d;
  --light-color: #ffffff;
  --accent-color: #f2ac49;
}

html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--light-color);
}

#main {
  padding: 0;
  margin: 0;
}

#title-container {
  background-color: var(--dark-color);
  margin: 0 0 4em 0;
  text-align: center;
  color: var(--light-color);
  padding: 0.1em 0 2em 0;
}

#title {
  margin: 1em 0 .3em 0;
  text-transform: uppercase;
  font-size: 3.5em;
}

.subheader {
  margin: 0 0 1em 0;
  font-size: 2em;
}

address p {
  font-size: 1.3em;
}

address a {
  color: white;
}

address a:visited {
  color: blueviolet;
}

address a:hover {
  color: var(--accent-color);
}

#img-div {
  padding: 0;
  font-size: 1em;
  margin: 0 0 5em 0;
}


#image {
  margin: auto;
  display: block;
  object-fit: cover;
  max-width: 100%;
  border-style: solid;
  border-color: var(--dark-color);
}

#img-caption {
  font-size: 1.3em;
  text-align: center;
  color: var(--dark-color);
  margin: .5em 0;
  font-style: italic;
}

#tribute-info {
  text-align: center;
  background-color: var(--light-color);
  width: 70%;
  margin: 2em auto;
  padding: 0;
  border-style: solid;
}

#list-title {
  font-size: 1.8em;
  text-transform: uppercase;
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 1em;
  margin: 0;
}

ul {
  font-size: 1.4em;
  text-align: left;
  margin: 0.5em auto 1em auto;
  list-style: none;
  padding: 0.5em;
}

li {
  background-color: var(--accent-color);
  margin: 1em;
  color: black;
  padding: 1.2em 1em;
  font-size: 1.1em;
}

blockquote {
  background-color: var(--dark-color);
  color: white;
  text-align: center;
  padding: 1em 1.5em 2em 1.5em;
  margin: 5em auto 5em auto;
  width: 40%;
}

blockquote p {
  font-size: 1.8em;
  margin: 0;
  padding: .5em;
}

blockquote cite {
  font-size: 1.4em;
  margin: 0;
  padding: .5em;
}

h2 {
  margin: 1em auto 2em auto;
  text-align: center;
  font-size: 2.1em;
}

h2 a:hover {
  color: var(--accent-color);
}